@import "./../base";
.tiket_header {
  background-color: #f788ee;
  color: white;
}
input[type="checkbox"] {
  display: none;
}

.check-container {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 30px;
}

input[type="checkbox"] + label {
  z-index: 15;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 10px;
  right: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 20px;
  border: 4px solid #bdbdbd;
  height: 20px;
}

.tag {
  margin-left: 40px;
}

input[type="checkbox"]:checked + label {
  z-index: 15;
  display: inline-block;
  transform: rotate(-50deg) translate(5px, -9px);
  transition: all 0.3s ease;
  width: 20px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #2ecc71;
  border-left-color: transparent;
  height: 20px;
}

input[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 100%;
  height: 15px;
  border-left: 4px solid #2ecc7a;
}

.Operator_Tiket_txt {
  font-size: 20px;
  @media (min-width: 300px) and (max-width: 350px) {
    font-size: 12px;
  }
  @media (min-width: 351px) and (max-width: 400px) {
    font-size: 14px;
  }
  @media (min-width: 401px) and (max-width: 767px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 18px;
  }
  vertical-align: middle;
}

.row_description {
  min-height: 80px;
  margin-right: 1px !important;
  margin-left: 1px !important;
}
.deatils_txt {
  color: #bdbdbd;
  font-size: 17px;
  @media (max-width: 991px) {
    font-size: 15px;
  }
  @media (min-width: 300px) and (max-width: 350px) {
    font-size: 13px;
  }
}
.check_txt {
  color: #bdbdbd;
  font-size: 18px;
  @media (max-width: 991px) {
    font-size: 16px;
  }
  @media (min-width: 300px) and (max-width: 350px) {
    font-size: 14px;
  }
}

.ticket_txt {
  margin: auto;
  line-height: 51px;
  vertical-align: middle;
}
